{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {

    },
  },
  "rules": {

  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [

  ]
}
